tr, td,th, table {
    vertical-align: text-top;
    text-align: center;
    margin: auto;
}

table {
    max-width: 100% !important;
}

.form, label, select {
    margin: auto;
    width: 30%;
    text-align: center;
}

.carousel {
    background-color: black;
}

.rightBar {
    max-width: 100%;
}


.form {

    box-shadow: 0 0 15px 10px #8ba7b8;
    border: 1px solid #8ba7b8;
    
}

.confirmRadio {
    max-width: 10px;
    border: 1px solid black;
}

.width {
    width: 80%;
    margin: auto;
}

input, option {
    width: 115px;
}


div img, .centerMe {
    max-width: 100%;
    margin: auto;
    text-align: center;
}

.spacer {
    margin-top: 40px;
}

.dogsTable {
   border: 1px solid black;
    max-width: 50%;
    margin: auto;
    background-color: #f1f1f1;
    box-shadow: 0 0 15px 10px #8ba7b8;
    
}

.whiteOut {
    color: white;
}

.italicizeMe {
    font-style: italic;
}

td, th {
    padding-left: 8px;
    padding-right: 8px;
    
}


.small {
    max-width: 100px;
}

.colorMe {
    background-color: #b1d0ca;
}

h1, h2 {
    text-align: center;
}

h1 {
    padding-bottom: 30px;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img, .activeImage {
     /*width: 100%; Set width to 100% */
    margin: auto;
    max-height: 300px;
}



/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}
  
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 
}
